body{
    background-color: #EAF6F6}

h1{
    color: #58d4d4;
}

h3{
    color: #58d4d4;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 6px;
    width: 10%;
}

#profile-pic{
    background-color: gold;
    border-radius: 100%;
}

#spotify-title{
    color: blueviolet;
}
